pyspark==4.1.1
narwhals
hdfs
python-dotenv
streamlit
pandas
pyarrow
numpy
matplotlib
seaborn
scikit-learn
redis
plotly
geopy
airportsdata
setuptools
grpcio
grpcio-status
PyHive
SQLAlchemy
thrift
thrift_sasl